*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    max-width: 1700px;
    margin: 0 auto;
    width: 100%;
}

.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px;
    background-color: #fff;
}

.nav-rigth{
    display: flex;
    align-items: center;
    gap: 30px ;
}

.logo-content{
    display: flex;
    align-items: center;
    gap: 3px;
}
 .logo-content p{
    font-size: 24px;
 }

 .menu-list{
    font-size: 20px;
    border: none;
    padding: 5px;
    color: #fff;
    background-color: rgb(188, 142, 91, 0.9);
    border-radius: 8px;
 }

.menu-list:hover{
    background-color: rgb(188, 143, 91);

}

.log-out{
    font-size: 26px;
    border: none;
    padding: 5px 10px 5px 3px;
    color: #fff;
    background-color: transparent;
    color: gray;
    border-radius: 5px;
}
#log-out{
    border: none;
    background-color: transparent;
}

.log-out:hover{
    background-color: rgba(128, 128, 128, 0.374);

}

#main{
    display: flex;

}
.sidebar{
    width: 100%;
    max-width: 265px;
    min-height: calc(100vh - 80px);
    height: 100%;
    background-color: #fff;
    padding-block: 30px;
    overflow: hidden;
    padding: 5px;
    transition: .5s;
}

.sidebar-list{
    padding-left: 0 !important;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.sidebar-list-item{
    transition: .3s;
    border-radius: 8px;
    
}

.sidebar-list-item-link{
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 30px;
    font-weight: 500;
    padding: 15px;
    background-color: transparent;
    color: rgb(82, 82, 82);
}

.sidebar-list-item:hover{
    background-color: rgba(128, 128, 128, 0.166);
}

.hideSidebar{
    max-width:65px ;
}

#hero{
    border-radius: 8px 0 0 0 ;
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 20px;
}

.hero-content h2{
    font-size: 24px;
    color: #222;
    display: flex;
    align-items: center;
    gap: 10px;

}

.hero-content > h2 > i{
    font-size: 20px;
    color: rgb(122, 122, 122);
}

.rating-card{
    margin-top: 10px;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.rating-card-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.rating-card-item i {
    font-size: 22px;
    color: dodgerblue; 
    margin-right: 5px;
}

.rating-card-item  strong{
    font-size:20px;
    color: rgb(135, 135, 135);

}

.rating-card-item span{
    color: #222;
}

.rating-card-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80px;
    border-radius: 30px;
    background-color: rgb(56, 202, 56);
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.rating-card-box  span{
    font-size: 12px;
    color: #fff;
}


.rating-card-line{
    height: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: rgb(180, 237, 180);
    overflow: hidden;
    margin-bottom: 20px;
}
.rating-card-line-item{
    height: 100%;
    width: 100%;
    max-width: 200px;
    background-color: rgb(56, 202, 56);
}

.rating-card p{
    display: flex;
    align-items: center; 
    gap: 10px;
}
.rating-card p i {
    font-size: 20px;
    color: rgb(56, 202, 56);

}

.rating-card p strong{
    color: rgb(135, 135, 135);
}
.rating-card p strong span{
    color: #222;
}

.rating-card-xp-box{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.rating-card-xp-box span{
    color:  rgb(188, 143, 91);
    font-weight: 500;
}

.information-card{
    margin-top: 16px;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;    
    gap: 50px;
}

.info-card-img{
    font-size: 100px;
    color: rgb(122, 122, 122);
    margin-left: 10px;
}

.info-card-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-card-box h4{
    font-size: 20px;
    color: #222;
}